{% extends "event_organizer/layout_event_organizer/base.html" %}

{% block title %}Chi tiết sự kiện{% endblock %}

{% block content %}

<div class="ticket-card">
    <div class="ticket-image">
        {% if event.image_url %}
        <img src="{{ event.image_url }}" alt="Hình sự kiện">
        {% else %}
        <img src="{{ url_for('static', filename='images/default.jpg') }}" alt="Hình mặc định">
        {% endif %}
    </div>

    <div class="ticket-info">
        <h1>{{ event.name }}</h1>

        <div class="time">
            Thời gian bắt đầu: {{ event.start_datetime.strftime('%d/%m/%Y %H:%M') }}
        </div>

        <div class="location">
            {% if event.event_format.name == 'OFFLINE' %}
            Địa chỉ: {{ event.event_offline.location }}
            {% else %}
            Trực tuyến
            {% endif %}
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h3>Thông tin sự kiện</h3>
    </div>
    <div class="card-body">
        <table class="ticket-table">
            <tbody>
            <tr>
                <th>Mô tả</th>
                <td>{{ event.description or "Không có mô tả" }}</td>
            </tr>
            <tr>
                <th>Thời gian</th>
                <td>{{ event.start_datetime.strftime("%d/%m/%Y %H:%M") }} -
                    {{ event.end_datetime.strftime("%d/%m/%Y %H:%M") }}
                </td>
            </tr>
            {% if event.event_offline %}
            <tr>
                <th>Địa điểm</th>
                <td>{{ event.event_offline.location }}</td>
            </tr>
            <tr>
                <th>Có chỗ ngồi</th>
                <td>{{ 'Có' if event.event_offline.has_seat else 'Không' }}</td>
            </tr>
            {% else %}
            <tr>
                <th>Link tham gia</th>
                <td>
                    <a href="{{ event.event_online.livestream_url }}" target="_blank">
                        {{ event.event_online.livestream_url }}
                    </a>
                </td>
            </tr>
            {% endif %}
            <tr>
                <th>Luật lệ</th>
                <td>{{ event.rules or "Không có luật lệ" }}</td>
            </tr>
            <tr>
                <th>Tác giả</th>
                <td>{{ event.authors or "Không có" }}</td>
            </tr>
            <tr>
                <th>Người sản xuất</th>
                <td>{{ event.producers or "Không có" }}</td>
            </tr>
            <tr>
                <th>Trạng thái</th>
                <td>{{ event.status.value }}</td>
            </tr>
            <tr>
                <th>Định dạng sự kiện</th>
                <td>{{ event.event_format.value }}</td>
            </tr>
            <tr>
                <th>Loại sự kiện</th>
                <td>{{ event.event_type.value }}</td>
            </tr>
            <tr>
                <th>Ngày tạo</th>
                <td>{{ event.created_at.strftime("%d/%m/%Y %H:%M") }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Card: Loại vé -->
<div class="card">
    <div class="card-header">
        <h3>Loại vé</h3>
    </div>
    <div class="card-body">
        {% if event.ticket_types %}
        <table class="ticket-table">
            <thead>
            <tr>
                <th>Tên vé</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Chọn ghế</th>
                <th>Lợi ích</th>
            </tr>
            </thead>
            <tbody>
            {% for ticket in event.ticket_types %}
            <tr>
                <td>{{ ticket.name }}</td>
                <td>{{ "{:,.0f}".format(ticket.price) }} đ</td>
                <td>{{ ticket.quantity }}</td>
                <td>{{ "Có" if ticket.requires_seat else "Không" }}</td>
                <td>{{ ticket.benefits }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Chưa có loại vé nào</p>
        {% endif %}
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h3>Voucher</h3>
    </div>
    <div class="card-body">
        {% if vouchers %}
        <table class="ticket-table">
            <thead>
            <tr>
                <th>Mã code</th>
                <th>Loại giảm</th>
                <th>Giá trị giảm</th>
                <th>Số lượng</th>
                <th>Ngày bắt đầu</th>
                <th>Ngày kết thúc</th>
                <th>Ngày tạo</th>
                <th>Áp dụng cho loại vé</th>
            </tr>
            </thead>
            <tbody>
            {% for voucher in vouchers %}
            <tr>
                <td>{{ voucher.code }}</td>
                <td>{{ voucher.discount_type.value }}</td>
                <td>{{ voucher.discount_value }}</td>
                <td>{{ voucher.quantity }}</td>
                <td>{{ voucher.start_date }}</td>
                <td>{{ voucher.end_date }}</td>
                <td>{{ voucher.created_at }}</td>
                <td> {% if voucher.apply_all %}
                    Tất cả
                    {% else %}
                    {% for tv in voucher.ticket_vouchers %}
                    {{ tv.ticket_type.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Chưa có voucher nào</p>
        {% endif %}
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h3>Nhật ký từ chối</h3>
    </div>
    <div class="card-body">
       {% if event.rejection_logs %}
        <table class="ticket-table">
            <thead>
            <tr>
                <th>Lý do</th>
                <th>Thời gian từ chối</th>
            </tr>
            </thead>
            <tbody>
            {% for log in event.rejection_logs %}
            <tr>
                <td>{{ log.reason }}</td>
                <td>{{ log.rejected_at }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Không có nhật ký từ chối</p>
        {% endif %}
    </div>
</div>



<div class="card">
    <div class="card-header">
        <h3>Danh sách chỗ ngồi</h3>
    </div>
    <div class="card-body">
        {% if event.seats %}
        <table class="ticket-table">
            <thead>
            <tr>
                <th>id</th>
                <th>Mã ghế</th>
                <th>Trạng thái</th>
            </tr>
            </thead>
            <tbody>
            {% for seat in event.seats %}
            <tr>
                <td>{{ seat.id }}</td>
                <td>{{ seat.seat_code }}</td>
                <td>{{ seat.status.value }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Không có chỗ ngồi</p>
        {% endif %}
    </div>
</div>

{% endblock %}
