{% extends "event_organizer/layout_event_organizer/base.html" %}

{% block title %}Trang chủ - Organizer{% endblock %}

{% block content %}
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Select2 -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<div class="topbar">
    <h2>{% block header %}Sự kiện của tôi{% endblock %}</h2>
    <div class="topbar-right">
        <a class="btn-create" href="{{ url_for('event_organizer.create_event') }}">
            + Tạo sự kiện
        </a>
        <div class="account-wrapper">
            <div class="account" onclick="toggleDropdown()">
                Tài khoản <i class="fa fa-caret-down"></i>
            </div>
            <div class="dropdown" id="accountDropdown">
                <a href="{{ url_for('auth.user_info')}}">Thông tin cá nhân</a>
                <a href="{{ url_for('auth.login')}}">Đăng xuất</a>
            </div>
        </div>
    </div>
</div>

<form class="search-bar" method="get" action="{{ url_for('event_organizer.home') }}">
    <input type="text" name="q" placeholder="Tìm kiếm sự kiện...">
    <button type="submit">Tìm kiếm</button>
</form>


<div class="tabs">
    <button class="tab-btn active" data-tab="approved" onclick="showTab('approved', this)"> Đã duyệt</button>
    <button class="tab-btn" data-tab="pending" onclick="showTab('pending', this)">Chờ duyệt</button>
    <button class="tab-btn" data-tab="rejected" onclick="showTab('rejected', this)">Từ chối duyệt</button>
    <button class="tab-btn" data-tab="draft" onclick="showTab('draft', this)">Đã ẩn</button>
</div>

<div class="tab-content" id="approved">
    <p>Danh sách sự kiện đã duyệt.</p>
    {% if approved_events %}
    <div class="event-grid">
        {% for event in approved_events %}
        <div class="event-card">
            <img src="{{ event.image_url }}" alt="Hình sự kiện">
            <div class="content">
                <div class="title">{{ event.name }}</div>
                <div class="date">
                    {{ event.start_datetime.strftime('%d/%m/%Y %H:%M') }} -
                    {{ event.event_offline.location if event.event_offline else 'Trực tuyến' }}
                </div>
                <div class="action-buttons">
                    <a href="{{ url_for('event_organizer.event_detail', event_id=event.id)}}">
                        <button class="btn-action btn-primary-card">Xem chi tiết</button>
                    </a>
                    <a>
                        <button class="btn-action btn-warning-card" onclick="showConfirmForm({{ event.id }})">Ẩn sự
                            kiện
                        </button>
                    </a>

                    <a>
                        <button class="btn-action btn-danger-card" onclick="showConfirmDeleteForm({{ event.id }})">Xóa
                        </button>
                    </a>
                    <a>
                        <button onclick="showVoucherForm({{ event.id }})">+ Voucher</button>
                    </a>
                    {% if event.event_offline %}
                    <button type="button"
                            onclick="showTicketForm({{ event.id }}, {{ 1 if event.event_offline.has_seat else 0 }})">
                        + Vé
                    </button>
                    {% else %}
                    <button type="button"
                            onclick="showTicketForm({{ event.id }}, 0)">
                        + Vé
                    </button>
                    {% endif %}
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="no-data">
        <i class="fa fa-box-open"></i>
        <p>Không có dữ liệu</p>
    </div>
    {% endif %}
</div>

<div class="tab-content" id="pending" style="display: none;">
    <p>Danh sách sự kiện chờ duyệt.</p>
    {% if pending_events %}
    <div class="event-grid">
        {% for event in pending_events %}
        <div class="event-card">
            <img src="{{ event.image_url }}" alt="Hình sự kiện">
            <div class="content">
                <div class="title">{{ event.name }}</div>
                <div class="date">
                    {{ event.start_datetime.strftime('%d/%m/%Y %H:%M') }} -
                    {{ event.event_offline.location if event.event_offline else 'Trực tuyến' }}
                </div>
                <div class="action-buttons">
                    <a href="{{ url_for('event_organizer.event_detail', event_id=event.id)}}">
                        <button class="btn-action btn-primary-card">Xem chi tiết</button>
                    </a>
                    <a>
                        <button class="btn-action btn-danger-card" onclick="showConfirmDeleteForm({{ event.id }})">Xóa
                        </button>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% else %}
    <div class="no-data">
        <i class="fa fa-box-open"></i>
        <p>Không có dữ liệu</p>
    </div>
    {% endif %}
</div>

<div class="tab-content" id="rejected" style="display: none;">
    <p>Danh sách sự kiện bị từ chối duyệt.</p>
    {% if rejected_events %}
    <div class="event-grid">
        {% for event in rejected_events %}
        <div class="event-card">
            <img src="{{ event.image_url }}" alt="Hình sự kiện">
            <div class="content">
                <div class="title">{{ event.name }}</div>
                <div class="date">
                    {{ event.start_datetime.strftime('%d/%m/%Y %H:%M') }} -
                    {{ event.event_offline.location if event.event_offline else 'Trực tuyến' }}
                </div>
                <div class="action-buttons">
                    <a href="{{ url_for('event_organizer.event_detail', event_id=event.id)}}">
                        <button class="btn-action btn-primary-card">Xem chi tiết</button>
                    </a>
                    <a href="{{ url_for('event_organizer.edit_event', event_id=event.id) }}">
                        <button class="btn-confirm">Chỉnh sửa</button>
                    </a>
                    <a>
                        <button class="btn-action btn-secondary-card" onclick="viewRejectionReason({{ event.id }})">
                            Xem lý do
                        </button>
                    </a>
                    <a>
                        <button class="btn-action btn-danger-card" onclick="showConfirmDeleteForm({{ event.id }})">Xóa
                        </button>
                    </a>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="no-data">
        <i class="fa fa-box-open"></i>
        <p>Không có dữ liệu</p>
    </div>
    {% endif %}
</div>

<div class="tab-content" id="draft" style="display: none;">
    <p>Danh sách sự kiện đã ẩn.</p>
    {% if hidden_events %}
    <div class="event-grid">
        {% for event in hidden_events %}
        <div class="event-card">
            <img src="{{ event.image_url }}" alt="Hình sự kiện">
            <div class="content">
                <div class="title">{{ event.name }}</div>
                <div class="date">
                    {{ event.start_datetime.strftime('%d/%m/%Y %H:%M') }} -
                    {{ event.event_offline.location if event.event_offline else 'Trực tuyến' }}
                </div>
                <div class="action-buttons">
                    <a href="{{ url_for('event_organizer.event_detail', event_id=event.id)}}">
                        <button class="btn-action btn-primary-card">Xem chi tiết</button>
                    </a>
                    <a>
                        <button class="btn-action btn-secondary-card" onclick="showEvent({{ event.id }})"> Công khai
                        </button>
                    </a>
                    <a>
                        <button class="btn-action btn-danger-card" onclick="showConfirmDeleteForm({{ event.id }})">Xóa
                        </button>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% else %}
    <div class="no-data">
        <i class="fa fa-box-open"></i>
        <p>Không có dữ liệu</p>
    </div>
    {% endif %}
</div>

<div id="confirmForm" class="modal-overlay" style="display: none;">
    <div class="modal-box">
        <p>Bạn chắc chắn muốn ẩn sự kiện này?</p>
        <div class="modal-buttons">
            <button class="btn-action btn-secondary-card" onclick="confirmHide()">Đồng ý</button>
            <button class="btn-action btn-cancel-card" onclick="hideConfirmForm('confirmForm')">Huỷ</button>
        </div>
    </div>
</div>

<div id="rejectModal" class="modal-overlay" style="display: none;">
    <div class="modal-box">
        <p><strong>Lý do từ chối sự kiện</strong></p>
        <p id="rejectedReasonText">Đang tải...</p> <!-- Đây là nơi lý do sẽ được hiển thị -->

        <div class="modal-buttons">
            <button class="btn-action btn-cancel-card" onclick="hideRejectModal()">Đã hiểu</button>
        </div>
    </div>
</div>

<div id="confirmDeleteForm" class="modal-overlay" style="display: none;">
    <div class="modal-box">
        <p>Bạn chắc chắn muốn xóa sự kiện này?</p>
        <div class="modal-buttons">
            <button class="btn-action btn-danger-card" onclick="confirmDelete()">Xóa</button>
            <button class="btn-action btn-cancel-card" onclick="hideConfirmForm('confirmDeleteForm')">Huỷ</button>

        </div>
    </div>
</div>

<div id="voucherForm" class="modal-overlay" style="display: none;">
    <div class="modal-box">
        <h3 class="text-h3">Tạo Voucher cho sự kiện</h3>
        <form id="voucherFormElement" onsubmit="event.preventDefault();">
            <input type="hidden" name="event_id" id="voucherEventId">

            <div class="form-group">
                <label>Mã Voucher</label>
                <input type="text" name="code" id="voucherCode" required>
            </div>

            <div class="form-group">
                <label>Giảm giá (số hoặc %)</label>
                <input type="text" name="discount" id="voucherDiscount" placeholder="VD: 50000 hoặc 10%" required>
            </div>

            <div class="form-group">
                <label>Số lượng</label>
                <input type="number" name="quantity" id="voucherQuantity" min="1" max="100" required>
            </div>

            <div class="form-group">
                <label>Ngày bắt đầu</label>
                <input type="date" name="start_date" id="voucherStartDate" required>
            </div>

            <div class="form-group">
                <label>Ngày hết hạn</label>
                <input type="date" name="end_date" id="voucherEndDate" required>
            </div>

            <div class="form-group">
                <label>Áp dụng cho vé</label>
                <select id="ticketTypeSelect" name="ticket_types" multiple="multiple" style="width:100%;">
                    <!-- JS sẽ load vé -->
                </select>
            </div>

            <div class="modal-buttons">
                <button type="button" class="btn-action btn-primary-card" onclick="saveVoucherForm()">Lưu</button>
                <button type="button" class="btn-action btn-cancel-card" onclick="hideVoucherForm()">Huỷ</button>
            </div>
        </form>
    </div>
</div>

<div id="ticketForm" class="modal-overlay" style="display: none;">
    <div class="modal-box">
        <h3 class="text-h3">Tạo thêm vé cho sự kiện</h3>
        <form id="ticketFormElement" onsubmit="event.preventDefault();">
            <input type="hidden" name="event_id" id="ticketEventId">

            <div class="form-group">
                <label>Tên vé</label>
                <input type="text" name="name" id="nameTicket" required>
            </div>

            <div class="form-group">
                <label>Số lượng</label>
                <input type="number" name="quantity" id="ticketQuantity" min="1" required>
            </div>

            <div class="form-group">
                <label>Giá vé</label>
                <input type="number" name="price" id="ticketPrice" min="1" required>
            </div>

            <div class="form-group">
                <label>Lợi ích</label>
                <input type="text" name="benefit" id="ticketBenefit">
            </div>

            <!-- Checkbox chỉ hiện khi has_seat = 1 -->
            <div class="form-group requires-seat-container" style="display:none; align-self:center; padding-left:10px;">
                <label>
                    <input type="checkbox" name="requires_seat" class="requires_seat">
                    Yêu cầu chọn ghế
                </label>
            </div>

            <div class="modal-buttons">
                <button type="button" class="btn-action btn-primary-card" onclick="saveTicketForm()">Lưu</button>
                <button type="button" class="btn-action btn-cancel-card" onclick="hideTicketForm()">Huỷ</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}
