{% extends 'layout/base.html' %}
{% block title %}Mua vé{% endblock %}

{% block content %}
<div class="ticket-main">
    <!-- Danh sách vé bên trái -->
    <div class="ticket-selection">
        {% for ticket in ticket_types %}
        <div class="ticket-card">
            <div class="ticket-left">
                <div class="ticket-name">{{ ticket.name }}</div>
                <ul class="ticket-benefits">
                    {% for b in ticket.benefits_list %}
                        <li>{{ b }}</li>
                    {% endfor %}
                </ul>
                <div class="ticket-price">
                    Giá vé: {{ "{:,.0f}".format(ticket.price) }}đ
                </div>
                <div class="ticket-stock">Số vé còn lại: {{ ticket.quantity }}</div>

                <div class="quantity-selector">
                    <button class="decrease" data-ticket-id="{{ ticket.id }}">-</button>
                    <input type="number" min="0" value="0" name="quantity_{{ ticket.id }}"
                           class="quantity-input"
                           data-ticket-id="{{ ticket.id }}"
                           data-price="{{ ticket.price }}"
                           data-name="{{ ticket.name }}">
                    <button class="increase" data-ticket-id="{{ ticket.id }}">+</button>
                </div>
            </div>
            <div class="ticket-right">
                <img src="{{ event.image_url }}"
                     class="ticket-image">
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Tổng vé bên phải -->
    <div class="ticket-summary">
        <h4>Tổng vé:</h4>
        <ul id="summary-list"></ul>
        <p class="total" id="summary-total"><strong>🎟 x0</strong></p>
        <a href="#" class="continue-btn" id="continue-btn"
           data-event-id="{{ event.id }}">Tiếp tục >></a>
    </div>
</div>
{% endblock %}
