{% extends 'layout/base.html' %}
{% block title %}Trang chủ{% endblock %}

{% block content %}

<!-- Thẻ vé -->
<div class="ticket-card">
    <div class="ticket-image">
        {% if event.image_url %}
        <img src="{{ event.image_url }}" alt="Hình sự kiện">
        {% else %}
        <img src="{{ url_for('static', filename='images/default.jpg') }}" alt="Hình mặc định">
        {% endif %}
    </div>

    <div class="ticket-info">
        <h1>{{ event.name }}</h1>

        <div class="time">
            Thời gian bắt đầu: {{ event.start_datetime.strftime('%d/%m/%Y %H:%M') }}
        </div>

        <div class="location">
            {% if event.event_format.name == 'OFFLINE' %}
                Địa chỉ: {{ event.event_offline.location }}
            {% else %}
                Trực tuyến
            {% endif %}
        </div>

        {% if min_price %}
            <div class="price">Giá từ {{ "{:,.0f}".format(min_price) }} đ</div>
        {% else %}
            <div class="price">Hiện chưa có vé</div>
        {% endif %}

        {% if current_user.is_authenticated and current_user.role.value == "Khách hàng" %}
    <a href="{{ url_for('events.buy_ticket', event_id=event.id) }}" class="buy-btn">Mua vé ngay</a>
{% endif %}

    </div>
</div>

<!-- Phần giới thiệu -->
<div class="event-extra-info">
    <h2>Giới thiệu chương trình</h2>
    <p>{{ event.description }}</p>

    {% if event.event_format.name == 'OFFLINE' %}
    <h2>Nơi tổ chức</h2>
    <p> {{ event.event_offline.venue_name }}</p>
    {% endif %}

    <h2>Địa điểm</h2>
    <p>
        {% if event.event_format.name == 'OFFLINE' %}
            {{ event.event_offline.location }}
        {% else %}
            {{ event.event_online.livestream_url }}
        {% endif %}
    </p>

    <h2>Thời gian</h2>
    <p>{{ event.start_datetime.strftime('%d/%m/%Y %H:%M') }} - {{ event.end_datetime.strftime('%d/%m/%Y %H:%M') }}</p>

    <h2>Quy định chung</h2>
    <ul>
        {% for line in event.rules.split('\n') %}
        <li>{{ line }}</li>
        {% endfor %}
    </ul>

    <h2>Nhóm tác giả</h2>
    <p>{{ event.authors }}</p>

    <h2>Nhà sản xuất</h2>
    <p>{{ event.producers }}</p>
</div>


{% endblock %}
