{% extends 'layout/base.html' %}
{% block title %}Trang chủ{% endblock %}

{% block content %}
<div class="nav">
    <!-- Lọc theo loại sự kiện -->
    <a href="{{ url_for('events.home', q='Nhạc sống') }}">Nhạc sống</a>
    <a href="{{ url_for('events.home', q='Sân khấu & Nghệ thuật') }}">Sân khấu & Nghệ thuật</a>
    <a href="{{ url_for('events.home', q='Thể thao') }}">Thể thao</a>
    <a href="{{ url_for('events.home', q='Khác') }}">Khác</a>

    <!-- Lọc theo hình thức tổ chức -->
    <a href="{{ url_for('events.home', q='Trực tuyến') }}">Trực tuyến</a>
    <a href="{{ url_for('events.home', q='Trực tiếp') }}">Trực tiếp</a>
</div>

<div class="container">
    {% for event in events %}
    <a href="{{ url_for('events.event_detail', event_id=event.id) }}" class="event-card">
        <img src="{{ event.image_url }}" alt="Hình sự kiện">
        <div class="content">
            <div class="title">{{ event.name }}</div>
            <div class="date">
                {{ event.start_datetime.strftime('%d tháng %m, %Y %H:%M') }}
            </div>
            <div class="location">
                {% if event.event_format.name == 'OFFLINE' %}
                    {{ event.event_offline.location }}
                {% else %}
                    Trực tuyến
                {% endif %}
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}
